/* ===== Global Styles ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

/* ===== Footer Styles ===== */
.footer {
    background: linear-gradient(#a796ff, #b1a3ff, #a084f9);
    color: white;
    border-radius: 20px;
    padding-top: 100px;
    padding-right: 80px;
    padding-bottom: 30px;
    padding-left: 80px;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

/* --- Top Section --- */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Left Side (logo + links) */
.footer-left {
    display: flex;
    align-items: center;
    gap: 60px;
}

/* Logo */
.footer-logo img {
    height: 50px;
    margin-right: 120px;
    border-radius: 20px;
    margin-bottom: 40px;
}

/* Navigation Links */
.footer-links {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    transition: opacity 0.3s ease;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.footer-links a:hover {
    opacity: 0.7;
}

/* Social Icons */
.footer-socials {
    display: flex;
    gap: 15px;
    margin-left: auto;
    margin-bottom: 40px;
}

.footer-socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    /* حجم المربع */
    height: 38px;
    border-radius: 8px;
    /* الحواف الدائرية */
    background-color: rgba(255, 255, 255, 0.478);
    /* خلفية خفيفة */
    color: white;
    font-size: 18px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.footer-socials a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    /* يتغير اللون عند hover */
    transform: scale(1.1);
}


/* Divider */
.footer hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 30px 0;
}

/* --- Bottom Section --- */
.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.75rem;
    flex-wrap: wrap;
    font-size: 13px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.85);
    gap: 20px;
}

.footer-legal {
    display: flex;
    gap: 25px;
}

.footer-legal a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    transition: opacity 0.3s ease;
    text-decoration: underline;
}

.footer-legal a:hover {
    opacity: 0.7;
}

/* ===== Responsive ===== */
@media (max-width: 900px) {
    .footer {
        padding: 40px 25px;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .footer-left {
        flex-direction: column;
        gap: 20px;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}